<link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Signika:400' rel='stylesheet' type='text/css'>
<div class="credit-card">
    <span class="title">SynergiPay Consortium</span><br><br>
    <span class="subtitle">Rebates Card</span>
    {# <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Visa_2021.svg/230px-Visa_2021.svg.png"> #}
    <span class="emboss number mb-3">{{ demo.credentials.rebatesCard.credentialSubject.clientNo }}</span><br>
    <span class="emboss name">{{ demo.credentials.rebatesCard.credentialSubject.clientName }}</span>
    <span class="emboss exp me-3">{{ demo.credentials.rebatesCard.credentialSubject.anniversaryMonth }}</span>
</div>

<style>
</style>