<div class="modal modal-lg modal-blur fade" id="modal-issue-credit-card" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-1 modal-dialog-centered" role="document">
        <div class="modal-content">
            {# <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> #}
            <div class="modal-body">
                <h2 class="mb-3">NeoVault FluxCard</h2>
                <p class="text-secondary mb-4">Get our cutting edge digital credit card</p>
                <ul class="list-unstyled space-y">
                    <li class="row g-2">
                        <span class="col-auto">
                            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon me-1 text-success icon-2">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </span>
                        <span class="col">
                            <strong class="d-block">Anonymous Purchases</strong>
                            <span class="d-block text-secondary">Our ground breaking credit card is powered by privacy focused technology, preventing vendors from collecting personal data.</span>
                        </span>
                    </li>
                    <li class="row g-2">
                        <span class="col-auto">
                            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon me-1 text-success icon-2">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </span>
                        <span class="col">
                            <strong class="d-block">For a Sustainable Planet</strong>
                            <span class="d-block text-secondary">Part of your interest fees are directly invested in ecologic initiatives around the world, impacting the environment with every purchase.</span>
                        </span>
                    </li>
                    <li class="row g-2">
                        <span class="col-auto">
                            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon me-1 text-success icon-2">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </span>
                        <span class="col">
                            <strong class="d-block">Interoperable</strong>
                            <span class="d-block text-secondary">We are conformant with open standards to ensure you can store your card in your favorite wallet*.</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
                <a href="{{ url_for('get_credential', credential='credit-card' )}}" class="btn btn-primary">Apply</a>
            </div>
        </div>
    </div>
</div>