<div class="modal modal-lg modal-blur fade" id="modal-issue-rebates-card" tabindex="-1" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-1 modal-dialog-centered" role="document">
        <div class="modal-content">
            {# <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> #}
            <div class="modal-body">
                <h2 class="mb-3">SynergiPay Consortium Rebates Card</h2>
                <p class="text-secondary mb-4">Saving you money without compromising your privacy!</p>
                <ul class="list-unstyled space-y">
                    <li class="row g-2">
                        <span class="col-auto">
                            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon me-1 text-success icon-2">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </span>
                        <span class="col">
                            <strong class="d-block">Over 1+ participating store</strong>
                            <span class="d-block text-secondary">Instant discounts from our associated stores.</span>
                        </span>
                    </li>
                    <li class="row g-2">
                        <span class="col-auto">
                            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon me-1 text-success icon-2">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </span>
                        <span class="col">
                            <strong class="d-block">Control your identity</strong>
                            <span class="d-block text-secondary">Thanks to our next gen identity system, no personal data gets shared.</span>
                        </span>
                    </li>
                    <li class="row g-2">
                        <span class="col-auto">
                            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon me-1 text-success icon-2">
                                <path d="M5 12l5 5l10 -10"></path>
                            </svg>
                        </span>
                        <span class="col">
                            <strong class="d-block">Early adopter perks</strong>
                            <span class="d-block text-secondary">Get access to anniversary month deals and legacy rebates.</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
                <a href="{{ url_for('get_credential', credential='rebates-card' )}}" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
</div>