<div class="modal modal-lg modal-blur fade" id="modal-statements" tabindex="-1" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-1 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="hr-text hr-text-center hr-text-spaceless mt-5 mb-5">Statements</div>
                <div class="card-body">

                    {# <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Enumeration</div>
                                <div class="text-secondary">Defines a fixed set of values where the claim value is one
                                    of them.
                                </div>
                            </div>
                        </div>
                    </a> #}

                    <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Signature</div>
                                <div class="text-secondary">Defines which issuer a signature must come from and which claims must be disclosed.</div>
                            </div>
                        </div>
                    </a>

                    <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Revocation</div>
                                <div class="text-secondary">Requires a proof that the signature claims aren't revoked.</div>
                            </div>
                        </div>
                    </a>

                    <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Commitment</div>
                                <div class="text-secondary">Creates a unique value based on a claim. Is also used to link to range statements.</div>
                            </div>
                        </div>
                    </a>

                    <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Range</div>
                                <div class="text-secondary">Defines a proof where a claim is in a range. Requires a commitment statement for the claim.</div>
                            </div>
                        </div>
                    </a>

                    <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Equality</div>
                                <div class="text-secondary">Check that a non-disclosed claim is the same across multiple other statements.</div>
                            </div>
                        </div>
                    </a>

                    <a class="card-link" href="#">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="font-weight-medium">Verifiable Encryption</div>
                                <div class="text-secondary">Defines a proof where a claim is proven to be encrypted in a ciphertext.</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>