<div class="row row-deck row-cards">
    <div class="col-4">
        {% include('components/credit-card.jinja') %}
    </div>
    <div class="col-4">
        {% include('components/membership-card.jinja') %}
    </div>
</div>