<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" rel="stylesheet">
    <style>
        @import url("https://rsms.me/inter/inter.css");
    </style>
</head>

<body>
    <div class="page page-center">
        <div class="page-wrapper">
            {% block page %}{% endblock %}
            {% include('components/footer.jinja') %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js" defer=""></script>
</body>

</html>